@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-primary: #fff;
  --background-color-second: #f3f4f6;
  --border-color-gray: #e5e7eb;
  --color-primary: #111827;
  --color-second: #a3a3a3;
  --accent-color-primary: #6366f1;
}

.dark {
  --background-color-primary: #111827;
  --background-color-second: #374151;
  --border-color-gray: #525252;
  --color-primary: #e5e5e5;
  --color-second: #9ca3af;
  --accent-color-primary: #fbbf24;
}

@layer base {
  html,
  body {
    @apply bg-primary text-primary w-full h-full cursor-default;
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
}

@layer components {
  .about-header {
    @apply font-bold;
  }
}
