@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-color-01: #4f46e5;
    --background-color-primary: #fff;
    --background-color-secondary: #f3f4f6;
    --border-color-gray: #e5e7eb;
    --color-primary: #111827;
    --color-secondary: #a3a3a3;
    --color-contrast: #f3f4f6;
  }

  .dark {
    --accent-color-01: #a5b4fc;
    --background-color-primary: #202225;
    --background-color-secondary: #40444b;
    --border-color-gray: #4b5563;
    --color-primary: #f3f4f6;
    --color-secondary: #9ca3af;
    --color-contrast: #111827;
  }

  html,
  body {
    @apply bg-primary text-primary w-full h-full cursor-default;
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
}

@layer components {
  .about-header {
    @apply font-bold;
  }
  .page-navigation-button {
    @apply flex items-center gap-1 text-sm text-secondary hover:text-accent cursor-pointer;
  }
}
